<h1>POST PRODUCTOS</h1>
<form (ngSubmit)="addProducto()">

    <div>
        <label for="precio">Id del nuevo producto:</label>
        <input type="number" id="id" name="precio" [(ngModel)]="nuevoProducto.product_id" required>
    </div>

    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoProducto.product_name" required>
    </div>


    <div>
        <label for="proveedor">Proveedor:</label>
        <input type="number" id="proveedor" name="proveedor" [(ngModel)]="nuevoProducto.supplier_id" required>

    </div>

    <div>
        <label for="categoria">Categoria:</label>
        <input type="number" id="categoria" name="categoria" [(ngModel)]="nuevoProducto.category_id" required>
    </div>

    <div>
        <label for="cantidad">Cantidad por unidad:</label>
        <input type="text" id="cantidad" name="cantidad" [(ngModel)]="nuevoProducto.quantity_per_unit" required>

    </div>

    <div>
        <label for="precioUnidad">Precio por unidad:</label>
        <input type="number" id="precioUnidad" name="precioUnidad" [(ngModel)]="nuevoProducto.unit_price" required>

    </div>


    <div>
        <label for="unidadesStock">Unidades en stock:</label>
        <input type="number" id="unidadesStock" name="unidadesStock" [(ngModel)]="nuevoProducto.units_in_stock"
            required>

    </div>

    <div>
        <label for="unidadesPedido">Unidades en pedido:</label>
        <input type="number" id="unidadesPedido" name="unidadesPedido" [(ngModel)]="nuevoProducto.units_on_order"
            required>

    </div>

    <div>
        <label for="nivelReorden">Nivel de reorden:</label>
        <input type="number" id="nivelReorden" name="nivelReorden" [(ngModel)]="nuevoProducto.reorder_level" required>

    </div>


    <div>
        <label for="descuento">Descuento:</label>
        <input type="number" id="descuento" name="descuento" [(ngModel)]="nuevoProducto.discount" required>

    </div>
    <button type="submit">Añadir Producto</button>
</form>


<h1>GET PRODUCTOS</h1>
<h1>Lista de productos</h1>
{{productos.length}}
@for (producto of productos; track producto.product_id) {
<ul>
    <li>

        {{producto.product_id}} - {{producto.product_name}} - {{producto.supplier_id}} - {{producto.category_id}} -
        {{producto.quantity_per_unit}} - {{producto.unit_price}} - {{producto.units_in_stock}} -
        {{producto.units_on_order}}
        - {{producto.reorder_level}} - {{producto.discount}}

    </li>
</ul>
}@empty {
<p>No hay productos</p>
}